# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp
*.cache
*.bak
*.swp

# Entornos (variables de entorno locales)
.env
.env.*

# Directorios de dependencias (Composer y Node.js)
vendor/
node_modules/

# Composer archivos autogenerados
composer.lock
phpunit.result.cache

# Archivos de pruebas o coverage
coverage/

# IDEs y editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de sistema
.~